@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
	--gruascolor: #8d1517;
	--whatscolor: #25D366;
	--bg: #f4f4f4;
	--fonttext: #6c6c6c;
	--white: #fff;
	--dark: #000;
	--fluorescentBlueColor: #00CBCE;
	--mainFont: #FFFFFF;
	--text-color-light: hsl(228, 12%, 75%);
    --black-color-lighten: hsl(220, 20%, 18%);
}

* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	background: var(--white);
	position: relative;
}

#menu-toggle {
	display: none;
}

/* WHATS BTN */
.whats-btn {
	position: fixed;
	z-index: 3;
	top: 80px;
	right: 20px;
	font-size: 35px;
	animation: whats 1.4s infinite;
	/* display: block; */
	text-decoration: none;
	background-color: var(--whatscolor);
	color: #FFFFFF;
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 0px 3px 3px var(--gruascolor);
	border: 2px solid #FFFFFF;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.whats-btn i {
	color: var(--white);
}

@keyframes whats {
	0% {
		box-shadow: 0 0 10px 8px var(--whatscolor);
		opacity: 1;
	}

	100% {
		box-shadow: 0 0 0.1px 5px var(--whatscolor);
		opacity: .5;
	}
}

.scroll-up {
	position: fixed;
	z-index: 1000;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--gruascolor);
	box-shadow: 0px 0px 3px 3px var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.scroll-up i {
	color: #FFFFFF;
}

a {
	color: #FFFFFF;
}

.wrapper {
	width: 74%;
	margin: auto;
}

/* BEGINS HEADER */
header {
	/* width: 100vw; */
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
	z-index: 800;
	transition: .4s;
	border-bottom: 3px solid var(--gruascolor);
	/* border-radius: 30px; */
	padding: 0rem 1rem;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 20px;
	height: 20px; */
	/* background: var(--gruascolor); */
}

.logo img {
	width: 2.5rem;
}

header ul {
	display: flex;
	align-items: center;

}

header li {
	margin-left: 2rem;
}

header li:first-child {
	margin-left: 0rem;
}

/* header li:last-child a {
	border: 3px solid var(--mainFont);
	color: var(--fluorescentBlueColor);
	border-radius: 20px;
	padding: .25rem 1rem;
} */

header li a {
	color: var(--fonttext);
}

header h3 {
	font-size: 1.5rem;
	color: #FFFFFF;
}

/* Para vista responsiva de menu hamburguesa */
header label {
	font-size: 1.6rem;
	color: var(--gruascolor);
	/* box-shadow: 0px 0px 10px 0px var(--gruascolor); */
	border-radius: 10px;
	height: 50px;
	width: 50px;
	display: grid;
	place-items: center;
	display: none;
}

/* ENDS HEADER */

/* ESTILOS MAIN SLIDER WITH SWIPER */
.swiper {
	width: 98.7vw;
	height: 100vh;
	margin-top: 2rem;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	/* -webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 60px; */
	position: relative;
}

.swiper-slide img {
	display: block;
	width: 100%;
}

.swiper-button-next.gruasIntro {
	position: absolute;
	transform: translate(-1%, -55%);
	top: 55%;
	right: 1%;
	color: var(--white);
	text-shadow: 4px 0px #212121;
}

.swiper-button-prev.gruasIntro {
	height: 0.8rem;
	position: absolute;
	transform: translate(-1%, -55%);
	top: 55%;
	left: 1%;
	color: var(--white);
	text-shadow: 4px 0px #212121;
}

.swiper-pagination-bullet {
	width: 0.8rem;
	height: 0.8rem;
}

.swiper-pagination-bullet-active {
	background: var(--white);
}

/* BEGINS SECTIONS */

section {
	padding: 2rem 0rem;
}

.section-title {
	display: grid;
	place-items: center;
	text-align: center;
	position: relative;
	margin-top: 3rem;
	margin-bottom: 3rem;

}

.section-title h1 {
	font-size: 3rem;
	color: var(--gruascolor);
}

.section-title h2 {
	margin-top: 1.5rem;
	font-size: 2rem;
	color: var(--mainFont);
}

.section-title small {
	font-size: 1rem;
	color: var(--mainFont);
	margin-top: 1.5rem;
}

/* RESPONSIVE TITLES */
@media screen and (max-width: 768px) {
	.section-title h1 {
		font-size: 2rem;
		color: var(--gruascolor);
	}
}

/* ENDS SECTIONS */


/* BEGINS ABOUT ME */

.nosotros_gruas-wrapper {
	position: relative;

}

.nosotros_gruas-grap {
	height: 80px;
	width: 150px;
	background-color: var(--gruascolor);
	position: absolute;
	z-index: 10;
}

.nosotros_gruas-grap.left {
	bottom: -20px;
	left: -10px;
}

.nosotros_gruas-grap.right {
	top: -20px;
	right: -10px;
}

.nosotros_gruas {
	background-color: var(--white);
	border: 4px solid var(--gruascolor);
	/* box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
		rgba(0, 0, 0, 0.73) 0px 16px 10px -10px; */
	padding: 1.5rem;
	text-align: left;
	position: relative;
	z-index: 50;
	border-radius: 50px;
	/* box-shadow: 0px 0px 10px 0px var(--fluorescentBlueColor); */
}

.nosotros_gruas h1 {
	color: var(--gruascolor);
}

.nosotros_gruas p {
	font-size: 1.2rem;
	color: var(--fonttext);
	/* text-shadow: 0px 0px 10px #000000; */
}

/* ENDS ABOUT ME */


/* BEGIN CONTACT */

#map {
	width: 98vw;
	height: 75vh;
}

.contact-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.contact {
	background-color: var(--white);
	padding: 1.5rem;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
		rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
	border-radius: 30px;
}

.contact h3 {
	color: var(--gruascolor);
	font-weight: 600;
	margin-bottom: .5rem;
}

.contact span {
	font-size: 2rem;
	display: inline-block;
	margin: 1rem 0rem;
}

.contact span i {
	color: var(--gruascolor);
}

.contact p {
	color: var(--fonttext);
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: start;
}

.contact li {
	color: var(--fonttext);
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: start;
}

/* ENDS CONTACT */


/* BEGIN SERVICES */
.tabsGruas {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}


.tabsGruas li {
	font-size: 1.5rem;
	font-weight: 400;
	color: #263238;
	cursor: pointer;
	position: relative;
}


.tabsGruas li::after {
	content: '';
	position: absolute;
	bottom: -20%;
	left: -3%;
	width: 0%;
	height: 5px;
	background: var(--gruascolor);
	border-radius: 30px;
	transition: width 0.8s ease;
}

.tabsGruas li.active::after {
	width: 104%;
}


.container-tabs {
	width: 80%;
	margin: 2rem auto 0;
}

/* Para smartphone y tablet */
@media screen and (max-width: 1024px) {
	.container-tabs {
		width: 100%;
		margin-top: 0rem;
		/* padding: 1rem; */
	}

	.tabsGruas li {
		font-size: 0.8rem;
	}
}

.container-gruas {
	/* position: relative; */
	width: 100%;
	/* max-width: 1024px; */
	/* min-height: 100vh; */
	padding: 1.5rem;
	/* Antes 2 rem */
	/* background-color: #fafafa; */
	/* background-color: #fff; */
	/* overflow: hidden; */
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.container-gruas.active {
	display: block;
	animation: fade 1s ease;
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width: 480px) {
	.container-gruas {
		padding: 1.5rem;
	}
}

.gruas_data {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1rem;
	box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
		rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
	border-radius: 2.5rem;
}

.gruas_data img {
	width: 70%;
	border-radius: 2rem;
	/* padding: 1rem 2rem; */
}

.gruas_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0rem 1rem;
	margin-top: unset;
	/* margin-left: 1.2rem;
	margin-right: auto; */
	/* align-items: center; */
	/* text-align: left; */
}

.gruas_info h2 {
	color: var(--gruascolor);
	font-weight: 700;
	margin-bottom: 1rem;
}

.gruas_info p {
	color: var(--fonttext);
}

.line-tecno {
	width: 100%;
	height: 3px;
	background-color: var(--text-color-light);
}

/* GALERIAS GRUAS */
/* Estilos nueva galeria 2024 */
.new_gallery {
	position: relative;
	width: 100%;
	height: 90vh;
}

.cont_gallery {
	position: absolute;
	width: 100vw;
	height: 90vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider_gallery {
	position: absolute;
	inset: 80px 200px 80px 80px;
	/* inset: 1rem 2rem 1rem 1rem; */
	background: transparent;
}

.txtGaleria {
	position: absolute;
	left: 10%;
	transform: translateX(-10%);
	top: 50%;
	transform: translateY(-50%);
	width: 100px;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

.txtGaleria p {
	color: var(--gruascolor);
	letter-spacing: 2px;
	font-size: 1.8rem;
	font-weight: 800;
}


.slider_gallery .slides {
	position: absolute;
	/* top: 50%;
    transform: translateY(-50%); */
	top: 110%;
	transform: translateY(-110%);
	width: 230px;
	/* height: 320px; */
	height: 120px;
	background: var(--img);
	background-position: center;
	background-size: cover;
	transition: 0.5s;
	border-radius: 20px;
	box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.slider_gallery .slides:nth-child(1),
.slider_gallery .slides:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(0);
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
	/* background-size: cover; */
	background-size: 70%;
	background-repeat: no-repeat;
}

.slider_gallery .slides:nth-child(3) {
	left: calc(50% + 240px);
	background-size: cover;
}

.slider_gallery .slides:nth-child(4) {
	left: calc(50% + 500px);
	background-size: cover;
}

.slider_gallery .slides:nth-child(5) {
	left: calc(50% + 760px);
	background-size: cover;
}

.slider_gallery .slides:nth-child(6) {
	left: calc(50% + 1020px);
	background-size: cover;
	opacity: 0;
}

.buttons_gallery {
	position: absolute;
	bottom: 1rem;
	display: flex;
	gap: 20px;
}

.buttons_gallery span {
	position: relative;
	width: 2rem;
	height: 2rem;
	background: #111;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.buttons_gallery span::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-top: 4px solid var(--white);
	border-left: 4px solid var(--white);
	transform: rotate(315deg) translate(2px, 2px);
}

.buttons_gallery span:nth-child(2)::before {
	transform: rotate(135deg) translate(2px, 2px);
}

/* reponsive galley 2024 */

@media (max-width: 900px) {
	.new_gallery {
		height: 75vh;
	}

	.cont_gallery {
		height: 75vh;
	}

	.slider_gallery {
		position: absolute;
		inset: 40px 40px 200px 40px;
		/* background: var(--dark); */

	}

	.slider_gallery .slides {
		width: 80px;
		height: 60px;
		top: initial;
		bottom: -170px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	}

	.slider_gallery .slides:nth-child(1),
	.slider_gallery .slides:nth-child(2) {
		top: initial;
		bottom: 0px;
		background-size: contain;
	}

	.slider_gallery .slides:nth-child(3) {
		left: 0;
	}

	.slider_gallery .slides:nth-child(4) {
		left: 110px;
	}

	.slider_gallery .slides:nth-child(5) {
		left: 220px;
	}

	.slider_gallery .slides:nth-child(6) {
		left: 330px;
	}
}

@media (max-width: 768px) {
	.new_gallery {
		height: 70vh;
	}

	.cont_gallery {
		height: 70vh;
	}
}

@media (max-width: 480px) {
	.new_gallery {
		height: 55vh;
	}

	.txtGaleria {
		position: absolute;
		left: -8%;
		transform: translateX(8%);
		top: 40%;
		transform: translateY(-40%);
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
	}

	.txtGaleria p {
		color: var(--gruascolor);
		letter-spacing: 2px;
		font-size: 1.4rem;
		font-weight: 700;
	}

	.cont_gallery {
		height: 55vh;
	}
}

/* ANTERIOR GALERIA */

/* .row_galeria {
	display: flex;
	flex-wrap: wrap;
	padding: 0rem 1rem;
}

.columna_galeria {
	flex: 25%;
	padding: 1rem;
}

.columna_galeria img {
	margin-top: 1rem;
	width: 100%;
	border-radius: 1.5rem;
	box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
	.row_galeria {
		padding: 1rem;
	}

	.columna_galeria {
		flex: 100%;
		padding: 0rem 1rem;
	}
} */



/* END SERVICES */

/* AGRADECIMIENTOS CON ACORDIÓN*/
.container_agradecimientos {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* ACCORDION STYLES */
.value__container {
    margin-bottom: 70px;
    /* display: grid;
    row-gap: 3rem; */
	width: 40%;
}

@media screen and (max-width: 576px) {
	.value__accordion-content img {
		margin-top: 4rem;
		margin-bottom: 4rem;
		width: 10px;
	}
}

.value__description {
    font-family: var(--small-font-size);
    margin-bottom: 2rem;
}

.value__accordion {
    display: grid;
    row-gap: 1.5rem;
}

.value__accordion-item {
    background-color: transparent;
    /*border: 1px solid var(--text-color-light);*/
    box-shadow: 0 1px 5px var(--text-color-light);
    border-radius: .5rem;
    padding: 1rem .75rem;
}

.value__accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.value__accordion-icon {
    background-color: var(--text-color-light);
    padding: 5px;
    border-radius: .25rem;
    font-size: 18px;
    color: var(--black-color-lighten);
    margin-right: .75rem;
    transition: .3s;
}

.value__accordion-title {
	color: var(--black-color-lighten);
	font-size: 1rem;
	font-weight: 500;
    /* font-size: var(--smaller-font-size); */
}

.value__accordion-arrow {
    display: inline-flex;
    background-color: var(--text-color-light);
    padding: .25rem;
    color: var(--black-color-lighten);
    border-radius: 2px;
    font-size: 10px;
    margin-left: auto;
    transition: .3s;
}

.value__accordion-arrow i {
    transition: .4s;
}

.value__accordion-description {
    padding: 1rem 1rem;
	font-size: 0.9rem;
}

.value__accordion-description.lista {
    padding: 1rem 1rem;
	font-size: 0.8rem;
}


.value__accordion-content {
    overflow: hidden;
    height: 0;
    transition: all .25s ease;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
    /* padding: 1rem .75rem; */
}

.value__accordion-content img {
	margin-top: 4rem;
	margin-bottom: 4rem;
	width: 150px;
}

@media screen and (max-width: 835px) {
	.value__container {
		/* display: grid;
		row-gap: 3rem; */
		width: 95%;
	}

	.value__accordion-title {
		font-size: 0.8rem;
		font-weight: 400;
	}

	.value__accordion-content {
		overflow: hidden;
		height: 0;
		transition: all .25s ease;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		/* padding: 1rem .75rem; */
	}

	.value__accordion-content img {
		margin-top: 4rem;
		margin-bottom: 4rem;
		width: 150px;
	}
}

/*Rotate icon and add shadows*/
.accordion-open {
    box-shadow: 0 12px 32px hsla(228, 66%, 45%, .1);
}

.accordion-open .value__accordion-icon {
    box-shadow: 0 4px 4px hsla(228, 66%, 45%, .1);
}

.accordion-open .value__accordion-arrow {
    box-shadow: 0 2px 4px hsla(228, 66%, 45%, .1);
}

.accordion-open .value__accordion-arrow i {
    transform: rotate(-180deg);
}

/* BEGIN FOOTER */

footer {
	border-radius: 3rem 3rem 0rem 0rem;
	background-color: var(--gruascolor);
	color: var(--white);
	padding: 1rem 10rem;
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
}

.links.social {
	display: none;
}

.links h3 {
	font-size: 1.5rem;
	color: var(--white);
	font-weight: 600;
	margin-bottom: .5rem;
	border-bottom: 3px solid var(--white);
	width: 70%;
}

@media only screen and (max-width:768px) {
	.links h3 {
		border-bottom: unset;
	}
}

.links li {
	margin-bottom: .5rem;
}

.links li a {
	font-size: .90rem;
}

.links li a i {
	font-size: 1.3rem;
}

.btn-sms {
	border: 3px solid var(--fluorescentBlueColor);
	background-color: transparent;
	color: var(--mainFont);
	padding: 5px 10px;
	border-radius: 20px;
}

/* ENDS FOOTER */

/* 
-----------------
Responsive Design
-----------------
*/


@media only screen and (max-width:1026px) {

	.wrapper {
		width: 90%;
	}

	.new-wrapper {
		width: 75%;
	}

	.contact-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	footer {
		color: var(--mainFont);
		padding: 1rem 10rem;
	}

}


@media only screen and (max-width:890px) {

	header label {
		display: grid;
	}

	.main-menu {
		position: absolute;
		top: -10%;
		border-top: 3px solid var(--gruascolor);
		border-left: 3px solid var(--gruascolor);
		border-right: 3px solid var(--gruascolor);
		background-color: var(--white);
		left: 0;
		right: 0;
		z-index: 200;
		padding: 1.5rem 0rem;
		transition: top 400ms;
	}

	#menu-toggle:checked~header .main-menu {
		top: 70px;
	}

	header ul {
		display: block;
		width: 90%;
		margin: auto;
	}

	header li {
		margin: 0;
		margin-bottom: .8rem;
	}

	.swiper {
		width: 100vw;
		height: 32vh;
		margin-top: 6rem;
	}

	.contact-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	footer {
		padding: 1rem 5rem;
	}
}


@media only screen and (max-width:768px) {

	.wrapper {
		width: 90%;
	}

	#map {
		width: 100vw;
		height: 50vh;
	}

	.contact-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	footer {
		padding: 1rem 1rem;
	}

	.footer-grid {
		grid-template-columns: 100%;
	}

}

@media only screen and (max-width:480px) {
	.swiper {
		height: 30vh;
	}

	.gruas_data {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0;
		box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
			rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
		border-radius: 2rem;
	}

	.gruas_data img {
		width: 85%;
		/* padding: 1rem 2rem; */
	}

	.gruas_info {
		margin-top: 1.5rem;
	}

	.contact-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}


@media print {

	html,
	body {
		display: none;
	}

}